<!DOCTYPE html>
<!--=== Coding by CodingLab | www.codinglabweb.com === -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!----======== CSS ======== -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
     
    <!----===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <title>Dashboard</title> 
</head>
<body>
    <nav>
        <div class="logo-name">
            <div class="logo-image">
                <img src="{{ url_for('static', filename='images/newlogo.png') }}" alt="">
            </div>

            <a href="/" class="logo_name" style="text-decoration: none;">Erahisi</a>
        </div>

        <div class="menu-items">
            <ul class="nav-links">
                <li><a href="/dashboard">
                    <i class="uil uil-estate"></i>
                    <span class="link-name">Dahsboard</span>
                </a></li>
                <li><a href="#">
                    <i class="uil uil-files-landscapes"></i>
                    <span class="link-name">Career</span>
                </a></li>
                <li><a href="/personality-test">
                    <i class="uil uil-chart"></i>
                    <span class="link-name">Assessment</span>
                </a></li>
                <li><a href="#">
                    <i class="uil uil-thumbs-up"></i>
                    <span class="link-name">Like</span>
                </a></li>
                <li><a href="#">
                    <i class="uil uil-comments"></i>
                    <span class="link-name">Comment</span>
                </a></li>
                <li><a href="#">
                    <i class="uil uil-share"></i>
                    <span class="link-name">Share</span>
                </a></li>
            </ul>
            
            <ul class="logout-mode">
                <li><a href="#">
                    <i class="uil uil-signout"></i>
                    <span class="link-name"> <a href="/">Logout</a></span>
                </a></li>

                <li class="mode">
                    <a href="#">
                        <i class="uil uil-moon"></i>
                    <span class="link-name">Dark Mode</span>
                </a>

                <div class="mode-toggle">
                  <span class="switch"></span>
                </div>
            </li>
            </ul>
        </div>
    </nav>

    <section class="dashboard">
        <div class="top">
            <i class="uil uil-bars sidebar-toggle"></i>

            <div class="search-box">
                <i class="uil uil-search"></i>
                <input type="text" placeholder="Search here...">
            </div>
            
            <img src="{{ url_for('static', filename='images/user.png') }}" alt="">
        </div>

         <!------CATEGORY SECTION CATEGORY SECTION CATEGORY SECTION ------>
<div class="width-100 skill-section" style="padding-top: 7%;">
    <div class="container">
      <div class="skill-list">
        <div class="width-33">
          <img class="skill-img" src="{{ url_for('static', filename='images/itjob.png') }}">
        </div>
        <div class="width-66">
          <h4>It Sector</h4>
          <button class="view-button">7,600 jobs</button>
        </div>
      </div>
      <div class="skill-list">
        <div class="width-33">
          <img class="skill-img" src="{{ url_for('static', filename='images/artsy.png') }}">
        </div>
        <div class="width-66">
          <h4>Art</h4>
          <button class="view-button">5,000 jobs</button>
        </div>
      </div>
      <div class="skill-list">
        <div class="width-33">
          <img class="skill-img" src="{{ url_for('static', filename='images/business.png') }}">
        </div>
        <div class="width-66">
          <h4>BPO</h4>
          <button class="view-button">1,100 jobs</button>
        </div>
      </div>
      <div class="skill-list">
        <div class="width-33">
          <img class="skill-img" src="{{ url_for('static', filename='images/salesjob.png') }}">
        </div>
        <div class="width-66">
          <h4>Sales</h4>
          <button class="view-button">2,345 jobs</button>
        </div>
      </div>
    </div>
  </div>
  
         <!-----RECENT JOB SECTION RECENT JOB SECTION RECENT JOB SECTION ----->
<div class="width-100 recent-job">
    <div class="container">
      <h2 class="recent-job-heading" style="padding-top: 9%;">RECENT JOB</h2>
      <p class="recent-job-sub-heading">Get the list of all recent jobs</p>
      <!-----JOB LIST----->
      <div class="width-50">
        <div class="recent-job-list">
          <div class="width-100">
            <h4 class="job-title">HTML Designer</h4>
            <p class="job-company">Dezven Software Solution <i class="fa fa-star" aria-hidden="true"></i> | 234 Reviews </p>
          </div>
          <div class="width-33">
            <i class="fa fa-briefcase" aria-hidden="true"></i> 1 to 4 Years
          </div>
          <div class="width-33">
            <i class="fa fa-inr" aria-hidden="true"></i> No disclosed
          </div>
          <div class="width-33">
            <i class="fa fa-map-marker" aria-hidden="true"></i> Pune
          </div>
          <div class="width-100">
            <p class="job-skill">
              <b>Skills : </b>HTML, CSS, JAVASCRIPT, JQUERY, BOOTSTRAP, PHOTOSHOP
            </p>
          </div>
          <div class="width-100">
            <a href="#" class="job-apply-button">Apply Now</a>
          </div>
        </div>
      </div>

      <!-----JOB LIST------>
      <div class="width-50">
        <div class="recent-job-list">
          <div class="width-100">
            <h4 class="job-title">CSS Designer</h4>
            <p class="job-company">Dezven Group <i class="fa fa-star" aria-hidden="true"></i> | 234 Reviews </p>
          </div>
          <div class="width-33">
            <i class="fa fa-briefcase" aria-hidden="true"></i> 1 to 4 Years
          </div>
          <div class="width-33">
            <i class="fa fa-inr" aria-hidden="true"></i> No disclosed
          </div>
          <div class="width-33">
            <i class="fa fa-map-marker" aria-hidden="true"></i> Pune
          </div>
          <div class="width-100">
            <p class="job-skill">
              <b>Skills : </b>HTML, CSS, JAVASCRIPT, JQUERY, BOOTSTRAP, PHOTOSHOP
            </p>
          </div>
          <div class="width-100">
            <a href="#" class="job-apply-button">Apply Now</a>
          </div>
        </div>
      </div>
      <!-----JOB LIST----->
      <div class="width-50">
        <div class="recent-job-list">
          <div class="width-100">
            <h4 class="job-title">Bootstrap Developer</h4>
            <p class="job-company">Apple Incorporation <i class="fa fa-star" aria-hidden="true"></i> | 234 Reviews </p>
          </div>
          <div class="width-33">
            <i class="fa fa-briefcase" aria-hidden="true"></i> 1 to 4 Years
          </div>
          <div class="width-33">
            <i class="fa fa-inr" aria-hidden="true"></i> No disclosed
          </div>
          <div class="width-33">
            <i class="fa fa-map-marker" aria-hidden="true"></i> Pune
          </div>
          <div class="width-100">
            <p class="job-skill">
              <b>Skills : </b>HTML, CSS, JAVASCRIPT, JQUERY, BOOTSTRAP, PHOTOSHOP
            </p>
          </div>
          <div class="width-100">
            <a href="#" class="job-apply-button">Apply Now</a>
          </div>
        </div>
      </div>
      <!-----JOB LIST----->
      <div class="width-50">
        <div class="recent-job-list">
          <div class="width-100">
            <h4 class="job-title">Javascript Developer</h4>
            <p class="job-company">Wipro Software Sol <i class="fa fa-star" aria-hidden="true"></i> | 234 Reviews </p>
          </div>
          <div class="width-33">
            <i class="fa fa-briefcase" aria-hidden="true"></i> 1 to 4 Years
          </div>
          <div class="width-33">
            <i class="fa fa-inr" aria-hidden="true"></i> No disclosed
          </div>
          <div class="width-33">
            <i class="fa fa-map-marker" aria-hidden="true"></i> Pune
          </div>
          <div class="width-100">
            <p class="job-skill">
              <b>Skills : </b>HTML, CSS, JAVASCRIPT, JQUERY, BOOTSTRAP, PHOTOSHOP
            </p>
          </div>
          <div class="width-100">
            <a href="#" class="job-apply-button">Apply Now</a>
          </div>
        </div>
      </div>
      <!-----JOB LIST----->
      <div class="width-50">
        <div class="recent-job-list">
          <div class="width-100">
            <h4 class="job-title">Graphic Designer</h4>
            <p class="job-company">Microsoft Solution INC <i class="fa fa-star" aria-hidden="true"></i> | 234 Reviews </p>
          </div>
          <div class="width-33">
            <i class="fa fa-briefcase" aria-hidden="true"></i> 1 to 4 Years
          </div>
          <div class="width-33">
            <i class="fa fa-inr" aria-hidden="true"></i> No disclosed
          </div>
          <div class="width-33">
            <i class="fa fa-map-marker" aria-hidden="true"></i> Pune
          </div>
          <div class="width-100">
            <p class="job-skill">
              <b>Skills : </b>HTML, CSS, JAVASCRIPT, JQUERY, BOOTSTRAP, PHOTOSHOP
            </p>
          </div>
          <div class="width-100">
            <a href="#" class="job-apply-button">Apply Now</a>
          </div>
        </div>
      </div>
      <!-----JOB LIST------>
      <div class="width-50">
        <div class="recent-job-list">
          <div class="width-100">
            <h4 class="job-title">jQuery Developer</h4>
            <p class="job-company">Google Corporation <i class="fa fa-star" aria-hidden="true"></i> | 234 Reviews </p>
          </div>
          <div class="width-33">
            <i class="fa fa-briefcase" aria-hidden="true"></i> 1 to 4 Years
          </div>
          <div class="width-33">
            <i class="fa fa-inr" aria-hidden="true"></i> No disclosed
          </div>
          <div class="width-33">
            <i class="fa fa-map-marker" aria-hidden="true"></i> Pune
          </div>
          <div class="width-100">
            <p class="job-skill">
              <b>Skills : </b>HTML, CSS, JAVASCRIPT, JQUERY, BOOTSTRAP, PHOTOSHOP
            </p>
          </div>
          <div class="width-100">
            <a href="#" class="job-apply-button">Apply Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
   <!-------FEATURE SECTION FEATURE SECTION FEATURE SECTION------->
<div class="width-100 feature-sect">
    <div class="container">
      <div class="width-50">
        <div class="feature-panel">
          <img src="{{ url_for('static', filename='images/suitcase.png') }}" class="feature-img">
          <h4 class="feature-title">DO YOU WANT TO POST A JOB ?</h4>
          <p class="feature-desc">It look like readable English. Many desktop publishing packagesand web page editors now use Lorem Ipsum as their default model text</p>
          <button class="feature-btn">Find Job</button>
        </div>
      </div>
      <!-- <div class="width-50">
        <div class="feature-panel">
          <img src="images/feature-2.png" class="feature-img">
          <h4 class="feature-title"> ARE YOU LOOKING FOR A CANDIDATE ?</h4>
          <p class="feature-desc">It look like readable English. Many desktop publishing packagesand web page editors now use Lorem Ipsum as their default model text</p>
          <button class="feature-btn">Find Candidates</button>
        </div>
      </div> -->
    </div>
  </div>
  
    </section>
</body>
  