<!DOCTYPE html>
<html lang="en">

<head>
    <title>Erahisi...</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style2.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <div class="main">
        <style>
            body {
                background-image: url("{{ url_for('static', filename='images/back2.jpeg') }}");
                background-position: center;
                background-size: cover;
                height: 100vh;
                margin: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                color: white;
            }
        </style>

        <div class="navbar">
            <div class="icon">
                <h2 class="logo">Erahisi</h2>
            </div>

            <div class="menu">
                <ul>
                    <li><a href="#">HOME</a></li>
                    <li><a href="/about">ABOUT</a></li>
                    <!-- <li><a href="#">SERVICE</a></li> -->
                    <!-- <li><a href="#">DESIGN</a></li> -->
                    <!-- <li><a href="#">CONTACT</a></li> -->
                </ul>
            </div>

            <div class="search">
                <input class="srch" type="search" name="" placeholder="Search here...">
                <a href="#"> <button class="btn">Search</button></a>
            </div>

        </div>
        <div class="content">
            <h1>
                <br><span>Enhance your
                    <br>potential<br></span> <br>
            </h1>
            <p class="par"> <br>
                <br>
            </p>

            <!--button class="cn"><a href="/personality-test">Start Test</a></button-->

            <div class="form">
                <form method="post" action="/login">
                    <input type="text" name="username" placeholder="Enter Username Here">
                    <input type="password" name="password" placeholder="Enter Password Here">
                    <button type="submit" class="btnn">Login</button>

                    {% if error %}
                    <p style="color: red;">{{ error }}</p>
                    {% endif %}
                </form>

                <p class="link">Don't have an account<br>
                    <a href="/register">Sign up </a> here</a>
                </p>
                <p class="link">Or take the test as a guest<br>
                    <a href="/personality-test">Start Test as Guest</a>
                </p>
                <!--<p class="liw">Log in with</p>
                    <div class="icons">
                        <a href="#"><ion-icon name="logo-facebook"></ion-icon></a>
                        <a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
                        <a href="#"><ion-icon name="logo-twitter"></ion-icon></a>
                        <a href="#"><ion-icon name="logo-google"></ion-icon></a>
                        <a href="#"><ion-icon name="logo-skype"></ion-icon></a>
                    </div>
                -->

            </div>
        </div>
    </div>
    </div>
    </div>
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
</body>

</html>