/* Define styles for the light mode */
body {
    background-color: #ffffff; /* Background color for light mode */
    color: #000000; /* Text color for light mode */
}

/* Define styles for the dark mode */
body.dark-mode {
    background-color: #1a1a1a; /* Background color for dark mode */
    color: #ffffff; /* Text color for dark mode */
}

.menu-items .mode-toggle {
    position: absolute;
    right: 14px;
    height: 50px;
    min-width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.mode-toggle .switch {
    position: relative;
    display: inline-block;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
}

.switch:before {
    content: "";
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    height: 15px;
    width: 15px;
    background-color: var(--panel-color);
    border-radius: 50%;
    transition: var(--tran-03);
}
